.catalog {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(1, $card-width);
  gap: $column-gap;
  max-width: 944px;
  margin: 0 auto;

  @media (min-width: 488px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $card-width;
    height: $card-height;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
