.catalog {
  display: grid;
  gap: 48px;
  justify-content: center;
  grid-template-columns: $card-size;

  @media (min-width:488px) {
    grid-template-columns: repeat(2,$card-size);
  }

  @media (min-width:768px) {
    grid-template-columns: repeat(3 ,$card-size);
  }

  @media (min-width:1024px) {
    grid-template-columns: repeat(4 ,$card-size);
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
