.catalog {
  display: grid;
  justify-content: center;
  gap: $gap;

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, $width);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, $width);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, $width);
  }

  &__card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $width;
    height: $height;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
