.catalog {
  display: grid;
  justify-content: center;
  gap: 48px;

  grid-template-columns: repeat(auto-fill, $card-width);

  @media (min-width: 488px) {
    grid-template-columns: repeat(3, $card-width);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, $card-width);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, $card-width);
  }

  &__card {
    display: grid;
    justify-items: center;
    align-items: center;

    height: $card-width * 1.5;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
      color: $hover-color;
      transform: scale(1.2);
    }
  }
}
