@import "./src/styles/utils/_mixins.scss";
@import "./src/styles/utils/_variables.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $header-height;
  padding: 0 50px;
  margin-bottom: 50px;
  box-shadow: 0 2px 4px $header-box-shadows;
  overflow: hidden;

  &__logo {
    height: $logo-height;
  }
}

.nav {
  &__list {
    display: flex;
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;
    @include item-rule;
  }

  &__item:not(:last-child) {
    margin-right: $logo-height / 2;
  }

  &__link {
    color: inherit;
    @include font-rule;
  }
}
