.header {
  display: grid;
  grid-template-columns: 2fr 4fr;
  align-items: center;
  height: 60px;
  padding: 0 50px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  overflow: hidden;

  @media (max-width: 778px) {
    height: 200px;
  }

  &__logo {
    height: 40px;

    @media (max-width: 778px) {
      margin: 0 auto;
    }
  }
}
