.catalog {
  display: grid;
  grid-template-columns: $cardWidth;
  justify-content: center;
  grid-gap: 48px;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $cardWidth;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  @include media-gridColumns(488px, 2);
  @include media-gridColumns(768px, 3);
  @include media-gridColumns(1024px, 4);
}
