.catalog {
  display: grid;
  gap: 48px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax($card-width-size, 1fr));

  @media (max-width: 487px) {
    grid-template-columns: $card-width-size;
  }

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, $card-width-size);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, $card-width-size);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, $card-width-size);
  }

  &__card {
    display: grid;
    justify-content: center;
    align-items: center;
    height: $card-height-size;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
