.catalog {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 200px);

  gap: 48px;
  margin: 0 auto;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 199px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;

    &:nth-last-child(-n + 1) {
      margin-bottom: 48px;
    }
  }
}
