.catalog {
  display: grid;
  justify-content: center;
  gap: $gap-between-cards;
  grid-template-columns: repeat(2, $width-card);

  @media(min-width: 768px) {
    grid-template-columns: repeat(3, $width-card);
  }

  @media(min-width:1024px) {
    grid-template-columns: repeat(4, $width-card);
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $height-card;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
