@import "./../utils/mixin";
@import "./../utils/var";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 50px;
  margin-bottom: 50px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  overflow: hidden;

  &__logo {
    height: 40px;
  }
}

.nav {
  &__list {
    display: flex;
    @include null-padding-margin;
  }

  &__item {
    position: relative;
    color: $header-item-color;
    list-style: none;
    line-height: 60px;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__link {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
  }
}
