.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  &__logo {
    height: 40px;
  }
}

.nav {
  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  &__item:not(:last-child) {
    margin-right: 20px;
  }
  
  &__link {
    display: flex;
    align-items: center;
    height: 60px;
    color: $c-link;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;

    transition: color 0.3s;

    &:hover {
      color: $c-link-hover;
    }
  }
}
