.page {
  font-family: Roboto, Helvetica, sans-serif;

  &__content {
    display: flex;
    justify-content: center;

  }
  &__card-container {
    display: grid;
    max-width: $card-width*4 + $card-gap-side*3;
    gap: $card-gap-side;
    padding: $container-padding-top 0 $container-padding-bottom;
    @media (min-width: 488px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
