.card {
  width: $card-width;
  padding: 32px 16px 16px;
  border: 1px solid $c-white-extra;
  border-radius: 5px;
  @include transformCard;
  transition: transform 0.3s;

  &__picture {
    display: block;
    width: 160px;
    height: 134px;
    margin: 0 auto 40px;
  }

  &__description {
    @include fontFamily ($main-font, $second-font);
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $c-dark-blue;
    margin-bottom: 4px;
  }

  &__extra-text {
    @include fontFamily ($main-font, $second-font);
    font-size: 10px;
    color: $c-grey;
    margin-top: 0;
    margin-bottom: 17px;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
  }

  &__rating-text {
    align-self: center;
    font-family: Roboto, sans-serif;
    font-size: 10px;
    color: $c-dark-blue;
    margin: 0;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
  }

  &__price-title {
    @include fontFamily ($main-font, $second-font);
    font-size: 12px;
    color: $c-grey;
    line-height: $card-price-height;
  }

  &__price-number {
    @include fontFamily ($main-font, $second-font);
    font-weight: bold;
    font-size: 16px;
    color: $c-dark-blue;
    line-height: $card-price-height;
    margin: 0;
  }

  &__buy {
    @include fontFamily ($main-font, $second-font);
    display: inline-block;
    width: 100%;
    height: 40px;
    background: $c-ocean;
    border: 1px solid $c-ocean;
    border-radius: 5px;
    color: $c-white;
    font-weight: bold;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }

  &:hover .card__buy {
    background-color: $c-white;
    color: $c-ocean;
    transition: background-color 0.3s ease-in-out,
      color 0.4s ease;
  }

  &:hover {
    transform: scale(1.2, 1.2);
    @include transformCard;

    .card__description {
      color: #34568b;
      transition: color 0.3s ease-in;
    }
  }
}
