.catalog {
  display: grid;
  grid-template-columns: 200px;
  gap: 48px;
  justify-content: center;
  padding-top: 50px;

  @media (min-width: 488px) and (max-width: 768px) {
    grid-template-columns: repeat(2, auto);
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    grid-template-columns: repeat(3, auto);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, auto);
  }
}
