main {
  margin: 0;
}

.container {
  max-width: 944px;
  margin: 0 auto;
}

.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100%);
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  gap: 48px 48px;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  
  }

  @media (min-width: 488px) {
    & {
      grid-template-columns: repeat(2, 200px);
    }
  }

  @media (min-width: 768px) {
    & {
      grid-template-columns: repeat(3, 200px);
    }
  }

  @media (min-width: 1024px) {
    & {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }

}
