.catalog {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  gap: 48px;
  @include grid(768px, 3, $card-width);
  @include grid(1024px, 4, $card-width);
  max-width: 944px;
  margin: 0 auto;

  &__card {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: aquamarine;
  }
}
