.catalog {
  display: grid;
  justify-content: center;
  gap: 48px;
  grid-template-columns: repeat(auto-fill, 200px);

  max-width: 944px;
  margin: 0 auto;

  &__card {
    display: grid;
    place-items: center;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 48px;
  }
}
