.catalog {
  display: grid;  
  grid-template-columns: repeat(auto-fill, 300px);

  @media (min-width: 448px){
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 768px){
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1024px){
    grid-template-columns: repeat(4, 1fr);
  }

  margin: 0 auto;
  gap: 48px;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 48px;
  }

  &__card:not(:nth-child(4n)) {
    margin-right: 48px;
  }
}
