.catalog {
  display: grid;
  flex-wrap: wrap;
  gap: 48px;

  max-width: 944px;
  margin: 0 auto;

  &__card {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    grid-template-columns: repeat(3, 1fr);
    max-width: 696px;

  }

  @media (min-width: 488px) and (max-width: 767px) {
    grid-template-columns: 1fr 1fr;
    max-width: 448px;
  }
}
