.catalog {
  width: $card-width;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto);
  gap: $base-shift;
  margin-bottom: $base-shift;
  justify-items: center;
  align-items: center;
  justify-content: space-around;
  align-content: center;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $card-width;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
