.catalog {
  display: grid;
  grid-template-columns: repeat(4, 199px);
  gap: 48px;
  justify-content: center;

  &__card {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 199px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

@media (max-width: 1024px) {
  .catalog {
    display: grid;
    grid-template-columns: repeat(3, 199px);
  }
}

@media (max-width: 768px) {
  .catalog {
    display: grid;
    grid-template-columns: repeat(2, 199px);
  }
}

@media (max-width: 488px) {
  .catalog {
    display: grid;
    grid-template-columns: 199px;
  }
}
