.catalog {
  display: grid;
  grid-template-columns: repeat(1, minmax(#{$card-width}, 1fr));
  gap: 48px;

  max-width: 944px;
  margin: 0 auto;

  &__card {
    display: grid;
    justify-content: center;
    align-items: center;
    width: #{$card-width};
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 48px;
  }
}

@media (min-width: 488px) and (max-width: 767px) {
  .catalog {
    grid-template-columns: repeat(2, minmax(#{$card-width}, 1fr));
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .catalog {
    grid-template-columns: repeat(3, minmax(#{$card-width}, 1fr));
  }
}

@media (min-width: 1024px) {
  .catalog {
    grid-template-columns: repeat(4, minmax(#{$card-width}, 1fr));
  }
}
