$medias:
  "1" 488px,
  "2" 768px,
  "3" 1024px;

$cardWidth: 200px;

.catalog {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(1, $cardWidth);
  gap: 48px;

  @each $number, $media in $medias {
    @media (min-width: #{$media}) {
      grid-template-columns: repeat(#{$number}, $cardWidth);
    }
  }
  
  &__card {
    display: grid;
    place-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 48px;
  }
}
