.catalog {
  display: grid;
  grid-template-columns: 200px;
  gap: 48px;

  max-width: 944px;
  margin: 0 auto;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  @media (min-width: 488px) {
    @include column-size(2);
  }

  @media (min-width: 768px) {
    @include column-size(3);
  }


  @media (min-width: 1024px) {
    @include column-size(4);
  }
}
