.catalog {
  display: grid;
  gap: 48px;
  grid-template-columns: 100%;

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, 50%);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, calc(100% / 3));
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 25%);
  }

  max-width: 944px;
  margin: 0 auto;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 48px;
  }

  &__card:not(:nth-child(4n)) {
    margin-right: 48px;
  }
}
