.catalog {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 48px;

  &__card {
    display: grid;
    place-items: center;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
