.catalog {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  gap: 48px;
  justify-content: center;
  max-width: 944px;
  margin: 0 auto;

  &__card {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  @media (max-width:768px) {
    grid-template-columns: repeat(3, 200px);
  }
  @media (max-width:488px) {
    grid-template-columns: repeat(2, 200px);
  }
  @media (max-width:487px) {
    grid-template-columns: repeat(1, 200px);
  }
}
