.catalog {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 48px;

  max-width: 944px;
  margin: 0 auto;

  @media (max-width: 487px) {
    grid-template-columns: repeat(1, auto);
  }

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, auto);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, auto);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, auto);
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 48px;
  }

  &__card:not(:nth-child(4n)) {
    margin-right: 48px;
  }
}
