.catalog {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-auto-rows: max-content;
  gap: 48px;
  place-content: center;
  
  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
