.catalog {
  display: grid;
  justify-content: center;
  grid-template-columns: 1, $cardWidth;
  gap: 48px;

  &__card {
    display: grid;
    justify-content: center;
    align-items: center;
    width: $cardWidth;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, $cardWidth);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, $cardWidth);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, $cardWidth);
  }
}
