$columnSize: 200px;

.catalog {
  display: grid;
  gap: 48px;
  justify-content: center;

  &__card {
    display: grid;
    justify-content: center;
    align-items: center;

    height: 300px;

    border: 1px solid #ccc;
    border-radius: 5px;
  }

  @media (min-width: 488px) {
    grid-template-columns: $columnSize $columnSize;
  }

  @media (min-width: 768px) {
    grid-template-columns: $columnSize $columnSize $columnSize;
  }

  @media (min-width: 1024px) {
    grid-template-columns: $columnSize $columnSize $columnSize $columnSize;
  }
}


