.catalog {
  display: grid;
  justify-content: center;
  height: 100%;
  gap: 48px;

  grid-template-columns: $card-width;

  @media (min-width: 488px) {
    & {
      grid-template-columns: repeat(2, $card-width);
    }
  }

  @media (min-width: 768px) {
    & {
      grid-template-columns: repeat(3, $card-width);
    }
  }

  @media (min-width: 1024px) {
    & {
      grid-template-columns: repeat(4, $card-width);
    }
  }

  &__card {
    display: grid;
    height: 300px;
    justify-content: center;
    align-items: center;

    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
