.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill , 200px);
  justify-content: center;
  max-width: 944px;
  margin: 0 auto;
  gap: 48px;

  @media (max-width:487px) {
    grid-template-columns: repeat(1 , 200px);
  }
  @media (min-width:768px) {
    grid-template-columns: repeat(3 , 200px);
  }
  @media (min-width:1024px) {
    grid-template-columns: repeat(4 , 200px);
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

}
