.catalog {
  display: grid;
  grid-template-columns: $box-size;
  gap: 48px;

  @each $index, $size in $area-size {
    @media (min-width: #{$size}) {
      grid-template-columns: repeat(#{$index}, #{$box-size});
    }
  }

  &__card {
    display: grid;
    place-content: center;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
