$card_width: 200px;

.catalog {
  max-width: 944px;
  margin: 0 auto;
  display: grid;
  grid-gap: 48px;

  @media screen and (min-width: 1024px) {
    & {
      grid-template-columns: repeat(4, $card_width);
    }
  }

  @media screen and (max-width: 1023px) and (min-width: 768px) {
    & {
      grid-template-columns: repeat(3, $card_width);
    }
  }

  /* Two columns starting at 488px */
  @media screen and (max-width: 767px) and (min-width: 488px) {
    & {
      grid-template-columns: repeat(2, $card_width);
    }
  }

  /* One column below 488px */
  @media screen and (max-width: 487px) {
    & {
      grid-template-columns: 1fr;
    }
  }

  &__card {
    display: grid;
    justify-items: center;
    align-items: center;
    width: $card_width;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
