.catalog {
  display: grid;
  grid-template-columns: repeat(1, 200px);
  gap: 48px;

  margin: 0 auto;

  @each $width, $column in $media-width-column {
    @media (min-width: $width) {
      grid-template-columns: repeat($column, 200px);
    }
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
