.catalog {
  display: grid;
  gap: 48px;
  justify-content: center;

  @media (min-width:488px) {
    & {
      grid-template-columns: repeat(2, $card-size);
    }
  }

  @media (max-width:488px) {
    & {
      grid-template-columns: repeat(1, $card-size);
    }
  }

  @media (min-width:768px) {
    & {
      grid-template-columns: repeat(3, $card-size);
    }
  }

  @media (min-width:1024px) {
    & {
      grid-template-columns: repeat(4, $card-size);
    }
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $card-size;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 48px;
  }

  &__card:not(:nth-child(4n)) {
    margin-right: 48px;
  }
}
