.catalog {
  display: grid;
  grid-template-columns: repeat(1, 200px);
  gap: 48px;
  justify-content: center;

  @include column(488px, 2);
  @include column(768px, 3);
  @include column(1024px, 4);

  &__card {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
