.catalog {
  // display: flex;
  // flex-wrap: wrap;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 48px;
  // box-sizing: border-box;
  // max-width: 944px;
  // margin: 0 auto;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 200px);
  }

  &__card {
    display: grid;
    justify-items: center;
    // display: flex;
    // justify-content: center;
    align-items: center;
    // width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    // margin-bottom: 48px;
  }

  // &__card:not(:nth-child(4n)) {
  //   margin-right: 48px;
  // }
}
