.catalog {
  display: grid;
  gap: 48px;
  justify-content: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  &__card {
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 48px;
  }

  &__card:not(:nth-child(4n)) {
    margin-right: 48px;
  }
}

@media (max-width: 487px) {
  .catalog {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 488px) and (max-width: 767px) {
  .catalog {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .catalog {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .catalog {
    grid-template-columns: repeat(4, 1fr);
  }
}
