.catalog {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  justify-items: center;
  align-items: center;
  gap: 48px;
  max-width: 944px;
  margin: 0 auto;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(3, 200px);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 200px);
  }

  @media (max-width: 488px) {
    grid-template-columns: repeat(1, 200px);
  }

  &__card {
    display: grid;
    width: 200px;
    justify-items: center;
    align-items: center;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
