.catalog {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 48px;
  justify-content: center;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  @media (max-width: 1023px) {
    grid-template-columns: repeat(3, 200px);
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(2, 200px);
  }

  @media (max-width: 487px) {
    grid-template-columns: repeat(1, 200px);
  }
}
