$card-width: 200px;
$screen-columns:
  768px 3,
  1024px 4;

.catalog {
  display: grid;
  justify-content: center;
  gap: 48px;
  grid-template-columns: repeat(2, $card-width);

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  @each $screen, $columns in $screen-columns {
    @media (min-width: $screen) {
      grid-template-columns: repeat($columns, $card-width);
    }
  }
}
