.catalog {

  @include media;
  
  display: grid;
  gap: 1rem 48px;
  max-width: 944px;
  margin: auto;
  
  &__card {
    display: grid;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
