.catalog {
  display: grid;
  justify-content: center;
  column-gap: 48px;
  max-width: 944px;
  margin: 0 auto;


  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 200px);
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    grid-template-columns: repeat(3, 200px);
  }

  @media (min-width: 488px) and (max-width: 767px) {
    grid-template-columns: repeat(2, 200px);
  }

  @media (max-width: 488px) {
    grid-template-columns: repeat(1, 200px);
  }
 
  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 48px;
  }

  &__card:not(:nth-child(4n)) {
    margin-right: 48px;
  }
}
