.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, $card-width);
  justify-content: center;
  gap: 48px;

  margin: 0 auto 48px;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $card-width;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  @media (max-width: $catalog-size-1) {
    grid-template-columns: repeat(1, $card-width);
  }

  @media (min-width: $catalog-size-1) {
    grid-template-columns: repeat(2, $card-width);
  }

  @media (min-width: $catalog-size-2) {
    grid-template-columns: repeat(3, $card-width);
  }

  @media (min-width: $catalog-size-3) {
    grid-template-columns: repeat(4, $card-width);
  }
}
