$size: 200px;

.catalog {
  display: grid;
  grid-template-columns: repeat(1, $size);
  justify-content: center;
  gap: 48px;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $size;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
  }

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, $size);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, $size);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, $size);
  }
}
