$width-card: 200px;
$height-card: 300px;

@mixin media-qwery($width, $count-col) {
  @media (min-width: $width) {
    grid-template-columns: repeat($count-col, $width-card);
  }
}

.catalog {
  display: grid;
  gap: 48px;
  justify-content: center;
  @include media-qwery(488px, 2);
  @include media-qwery(768px, 3);
  @include media-qwery(1024px, 4);
  
  &__card {
    display: grid;
    justify-content: center;
    align-items: center;
    width: $width-card;
    height: $height-card;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
