.catalog {
  display: grid;
  grid-template-columns: $card-width;
  justify-content: center;
  gap: 48px;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  @include cards-columns (2, 490px);
  @include cards-columns (3, 768px);
  @include cards-columns (4, 1024px);
}
