$card-width: 200px;

.catalog {
  display: grid;
  justify-content: center;
  margin-bottom: 48px;
  gap: 48px;

  $queries:
    2 "488px",
    3 "768px",
    4 "1024px";
  @each $columns, $min-width in $queries {
    @media (min-width: $min-width) {
      grid-template-columns: repeat($columns, $card-width);
    }
  }

  &__card {
    width: $card-width;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
