.catalog {
  display: grid;
  gap: 48px;
  justify-content: center;
  max-width: 944px;

  @each $columns, $size in $breakpoints {
    @media (min-width: #{$size}) {
      grid-template-columns: repeat(#{$columns}, 200px);
    }
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
