.catalog {
  display: grid;
  grid-template-columns: repeat(1, 200px);
  gap: 48px;
  justify-content: center;

  max-width: 944px;
  margin: 0 auto;

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, 200px);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 200px);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 200px);
  }

  &__card {
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    line-height: 300px;
    text-align: center;
  }
}
