@mixin query ($cols) {
  grid-template-columns: repeat($cols, 200px);
}

.catalog {
  display: grid;
  justify-content: center;
  align-content: start;
  gap: 48px;

  &__card {
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  @media (min-width: 1024px) {
    @include query(4);
  }

  @media (max-width: 1024px) and (min-width: 768px) {
    @include query(3);
  }

  @media (max-width: 768px) and (min-width: 488px) {
    @include query(2);
  }

  @media (max-width: 488px) {
    @include query(1);
  }
}
