.catalog {
  display: grid;
  justify-content: start;

  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 48px;

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }

  &__card {
    display: grid;
    text-align: center;
    align-items: center;

    height: 300px;

    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
