$card-width: 200px;
$card-height: 300px;
$block-shift: 50px;
$card-border-color: #ccc;

%centring {
  justify-content: center;
  align-items: center;
}

%bottom-shift {
  margin-bottom: $block-shift;
}

$media:
  1023 3,
  767 2,
  488 1;

.catalog {
  @extend %bottom-shift;
  display: grid;
  grid-template-columns: repeat(4, $card-width);
  @extend %centring;
  gap: 48px;

  &__card {
    display: flex;
    @extend %centring;
    height: $card-height;
    border: 1px solid $card-border-color;
    border-radius: 5px;
  }

  @each $width, $index in $media {
    @media (max-width: #{$width}px) {
      & {
        grid-template-columns: repeat($index, $card-width);
      }
    }
  }
}
