.catalog {

  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 48px;
  grid-template-columns: repeat(2, 200px);

  min-width: 488px;
  margin: 0 auto;
  margin-bottom: 48px;

  @media (min-width: 768px) {
    & {
      grid-template-columns: repeat(3, 200px);
    }
  }

  @media (min-width: 1024px) {
    & {
      grid-template-columns: repeat(4, 200px);
    }
  }

  &__card {
    display: grid;
    justify-items: center;
    align-items: center;
    
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
