.catalog {
  display: grid;
  justify-items: start;
  gap: 48px;

  &__card {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

.page__catalog {
  margin: 0 auto;
}

@media(min-width: 1024px) {
  .catalog {
    grid-template-columns: repeat(4, 200px);
  }
}

@media(min-width: 768px) and (max-width: 1023px) {
  .catalog {
    grid-template-columns: repeat(3, 200px);
  }
}

@media(min-width: 488px) and (max-width: 767px) {
  .catalog {
    grid-template-columns: repeat(2, 200px);
  }
}
