.catalog {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 48px;
  max-width: 944px;
  margin: 0 auto;



  @media (max-width: 1023px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 487px) {
    grid-template-columns: repeat(1, 1fr);
  }

  &__card {
    display: grid;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

