.catalog {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;

  max-width: 944px;
  margin: 0 auto;

  &__card {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 48px;
  }

  &__card:not(:nth-child(4n)) {
    margin-right: 48px;
  }

  @media(max-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);

    &__card:not(:nth-child(3n)) {
      margin-right: 48px;
    }
  }
  @media(max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    &__card:not(:nth-child(2n)) {
      margin-right: 48px;
    }
  }
  @media(max-width: 488px) {
    grid-template-columns: 1fr;
    &__card {
      margin-right: 48px;
    }
  }
}
