.catalog {
  display: grid;
  grid-template-columns: none;
  margin: 0 auto;
  justify-content: center;

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, 200px);
    gap: 48px;
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 200px);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 200px);
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 48px;

    @media (min-width: 488px) {
      margin-bottom: 0;
    }
  }

  &__card:not(:nth-child(4n)) {
    margin-right: 0;

    @media (min-width: 488px) {
      margin-right: 48px;
    }
  }
}
