.catalog {
  display: grid;
  justify-content: left;
  grid-template-columns: repeat(1, 200px);
  gap: 48px;
  margin-bottom: 48px;
  padding-left: 50px;

  $resolution:
    $two-column 2,
    $three-column 3,
    $four-column 4;

  @each $count-column, $size in $resolution {
    @media (min-width: $count-column) {
      & {
        grid-template-columns: repeat($size, 200px);
      }
    }
  }

  &__card {
    display: grid;
    place-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
