$card-width: 200px;

.catalog {
  display: grid;
  gap: 48px;
  justify-content: center;
  box-sizing: border-box;

  &__card {
    display: grid;
    justify-content: center;
    align-items: center;
    width: $card-width;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

@media (min-width: 488px) and (max-width: 767px) {
  .catalog {
    grid-template-columns: repeat(2, $card-width);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .catalog {
    grid-template-columns: repeat(3, $card-width);
  }
}

@media (min-width: 1024px) {
  .catalog {
    grid-template-columns: repeat(4, $card-width);
  }
}
