.catalog {
  display: grid;
  grid-template-rows: repeat(auto-fill, $heightCard);

  gap: 48px;
  justify-content: center;

  @each $size, $amount in $media {
    @media (min-width:#{$size}) {
      grid-template-columns: repeat($amount, $widthCard);
    }
  }
  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: $heightCard;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 48px;
  }
}
