.catalog {
  display: grid;
  grid-template-columns: repeat(4, $widthnp);
  gap: 48px;
  justify-content: center;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

@media (max-width: 1023px) {
  .catalog {
    grid-template-columns: repeat(3, $width);
  }
}

@media (max-width: 767px) {
  .catalog {
    grid-template-columns: repeat(2, $width);
  }
}

@media (max-width: 488px) {
  .catalog {
    grid-template-columns: repeat(1, $width);
  }
}
