.catalog {
  display: grid;
  grid-template-columns: repeat(1, 200px);
  grid-auto-rows: 300px;
  justify-content: center;
  gap: 48px;

  $breakpoints:
    488px 2,
    768px 3,
    1024px 4;

  @each $viewport-width, $number-of-columns in $breakpoints {
    @media (min-width: $viewport-width) {
      & {
        grid-template-columns: repeat($number-of-columns, 200px);
      }
    }
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
