.catalog {
  display: grid;
  gap: 48px;
  justify-content: center;
  grid-template-columns: repeat(4, $cardWidth);

  max-width: 944px;
  margin: 0 auto;

  @each $resolution, $columns in $resolutions {
    @media screen and (max-width: #{$resolution}) {
      grid-template-columns: repeat(#{$columns}, $cardWidth);

    }

  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $cardWidth;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
