.catalog {
  display: grid;
  grid-template-columns: repeat( 4, $card-width );
  gap: 48px;

  @media (min-width: 768px) and (max-width: 1023px) {
    grid-template-columns: repeat( 3, $card-width );
  }

  @media (min-width: 488px) and (max-width: 767px) {
    grid-template-columns: repeat( 2, $card-width );
  }

  @media (max-width: 487px) {
    grid-template-columns: $card-width;
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $card-width;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
