.catalog {
  display: grid;
  grid-template-columns: repeat(1, minmax(200px, 1fr));
  grid-gap: 48px;
  max-width: 944px;
  margin: 0 auto;

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
  @media (min-width: 768px) {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
