.catalog {
  display: grid;
  gap: 48px;
  grid-template-columns: 1 200px;
  justify-content: center;

  max-width: 944px;
  margin: 0 auto 48px;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  $media-request:
    488px 2,
    768px 3,
    1024px 4;

  @each $browser-size, $amount in $media-request {
    @media (min-width: $browser-size) {
      grid-template-columns: repeat($amount, 200px);
    }
  }
}
