$gap-size: 48px;
$card-width: 200px;
$card-height: 300px;

.catalog {
  display: grid;
  gap: $gap-size;

  max-width: 944px;
  margin: 0 auto;

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, minmax($card-width, 1fr));
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, minmax($card-width, 1fr));
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, minmax($card-width, 1fr));
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $card-width;
    height: $card-height;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
