$cardsWidth: 200px;

.catalog {
  @media (min-width: 488px) {
    grid-template-columns: repeat(2, $cardsWidth);
  }
  
  @media (min-width: 768px) {
    grid-template-columns: repeat(3, $cardsWidth);
  }
  
  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, $cardsWidth);
  }

  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, $cardsWidth);
  gap: 48px;

  max-width: 944px;
  margin: 0 auto;

  &__card {
    display: grid;
    justify-content: center;
    align-items: center;
    width: $cardsWidth;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 48px;
  }

  &__card:not(:nth-child(4n)) {
    margin-right: 48px;
  }
}
