.catalog {
  display: grid;
  grid-template-columns: repeat(4, $width-card);
  justify-content: center;

  max-width: 944px;
  margin: 0 auto;
  gap: 0 48px;

  &__card {
    display: grid;
    justify-content: center;
    align-items: center;
    width: $width-card;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 48px;
  }

  @media (max-width: 1024px) {
    grid-template-columns: repeat(3, $width-card);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, $width-card);
  }

  @media (max-width: 488px) {
    grid-template-columns: repeat(1, $width-card);
  }
}
