.catalog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 48px;

  max-width: 944px;
  margin: 0 auto;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 488px) {
    grid-template-columns: 1fr;
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
