.catalog {
  $gap-width: 48px;
  $card-width: 200px;
  gap: $gap-width;
  grid-template-columns: repeat(auto-fill, minmax($card-width, 220px));
  display: grid;
  justify-content: center;
  align-items: center;
  max-width: 1024px;
  margin: 0 auto;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 48px;
  }

  &__card:not(:nth-child(4n)) {
    margin-right: 48px;
  }
}
