@media (max-width: 1023px) {
  .catalog {
    grid-template-columns: 248px 248px 200px;
    width: 696px;
  }
}

@media (max-width: 767px) {
  .catalog {
    grid-template-columns: 248px 200px;
    width: 448px;
  }
}

@media (max-width: 487px) {
  .catalog {
    grid-template-columns: 200px;
    width: 200px;
  }
}
