$card-width: 200px;

:root {
  --catalog-columns: 1;

  @media (min-width: 488px) {
    --catalog-columns: 2;
  }

  @media (min-width: 768px) {
    --catalog-columns: 3;
  }

  @media (min-width: 1024px) {
    --catalog-columns: 4;
  }
}
