.catalog {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: $gap;
  justify-content: center;

  max-width: 944px;
  margin: 0 auto;

  transition: color 0.3s;

  @media (max-width: 1023px) {
    grid-template-columns: repeat(3, $card-width);
  }
  @media (max-width: 767px) {
    grid-template-columns: repeat(2, $card-width);
  }
  @media (max-width: 487px) {
    grid-template-columns: $card-width;
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;

    width: $card-width;
    height: 300px;

    border: 1px solid #ccc;
    border-radius: 5px;

    transition-duration: 300ms;

    &:hover {
      transform: scale(1.2);
      color: $card-hover-color;
    }
  }
}
