@import "./utils/normalize";

@import "./blocks/header";
@import "./blocks/catalog";

@media (max-width: 487px) {
  .catalog {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 488px) {
  .catalog {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .catalog {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .catalog {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
