html {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

@import "_header.scss";
@import "_catalog.scss";

@media (max-width: 1024px) {
  .catalog {
    grid-template-columns: repeat(3, 200px);
  }
}

@media (max-width: 768px) {
  .catalog {
    grid-template-columns: repeat(2, 200px);
  }
}

@media (max-width: 488px) {
  .catalog {
    grid-template-columns: repeat(1, 200px);
  }
}
