@import "./utils/variables";

@import "./block/reset.scss";

@import "./block/header";
@import "./block/nav.scss";
@import "./block/is-active.scss";
@import "./block/catalog";
@import "./block/card.scss";
@import "./block/starts.scss";
