html {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

@import "./utils/variables";
@import "_header.scss";
@import "./utils/mixins";
@import "_catalog.scss";

