@import "./utils/variables";
@import url(./block/_catalog.scss);
@import url(./block/_header.scss);

html {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.catalog {
  display: grid;
  gap: 48px;

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, $width);
  }
  @media (min-width: 768px) {
    grid-template-columns: repeat(3, $width);
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, $width);
  }

}
