@import "../utils/_variables.scss";

@import "../blocks/normalize.scss";
@import "../blocks/header.scss";
@import "../blocks/navigation.scss";
@import "../blocks/catalog.scss";
@import "../blocks/card.scss";
@import "../blocks/stars.scss";
