html {
  font-family: Roboto, sans-serif;

  @media (max-width: 488px) {
    & {
      grid-template-columns: 200px;
    }
  }
}

body {
  margin: 0;
}

@import "./utils/variables";
@import "./blocks/header";
@import "./blocks/catalog";
