@import "./utils/reset";
@import "./utils/variables";
@import "./utils/mixins";

@import "./blocks/catalog.scss";
@import "./blocks/header.scss";
@import "./blocks/nav.scss";
@import "./blocks/card.scss";
@import "./blocks/stars.scss";
