@media screen and (min-width: 488px) {
  .catalog {
    grid-template-columns: repeat(2, $gap );
    
  }
}

@media screen and (min-width: 768px) {
  .catalog {
    grid-template-columns: repeat(3, $gap);
    
  }
}

@media screen and ( min-width: 1024px) {
  .catalog {
    grid-template-columns: repeat(4, $gap );
    
  }
}
