@media (min-width: 1024px) {
  .catalog {
    display: grid;
    min-width: calc(200px * 4 + 48px * 3);
    grid-auto-flow: row;
  }
}

@media (max-width: 1023px) {
  .catalog {
    display: grid;
    max-width: calc(200px * 3 + 48px * 2);
    grid-auto-flow: row;
  }
}

@media (max-width: 767px) {
  .catalog {
    display: grid;
    max-width: calc(200px * 2 + 48px);
    grid-auto-flow: row;
  }
}

@media (max-width: 487px) {
  .catalog {
    display: grid;
    max-width: calc(200px);
    grid-auto-flow: row;
  }
}
