@media screen and (min-width: 488px) {
  .catalog {
    width: calc((#{$card-width} * 2) + #{$base-shift});
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto);
  }
}

@media screen and (min-width: 768px) {
  .catalog {
    width: calc((#{$card-width} * 3) + (#{$base-shift} * 2));
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto);
  }
}

@media screen and (min-width: 1024px) {
  .catalog {
    width: calc((#{$card-width} * 4) + (#{$base-shift} * 3));
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(auto);
  }
}
