@import "variables";

.catalog {
  display: grid;
  gap: 48px;
  grid-template-columns: repeat(4, $card-width);

  justify-content: center;

  &__card {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  @media (max-width: 1023px) {
    grid-template-columns: repeat(3, $card-width);
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(2, $card-width);
  }
}
