@media (min-width: 488px) {
  .catalog {
    grid-template-columns: repeat(2, 1fr);
    max-width: $catalog-width-488;
  }
}

@media (min-width: 768px) {
  .catalog {
    grid-template-columns: repeat(3, 1fr);
    max-width: $catalog-width-768;
  }
}

@media (min-width: 1024px) {
  .catalog {
    grid-template-columns: repeat(4, 1fr);
    max-width: $catalog-width-1024;
  }
}
