@mixin positioning {
  display: grid;
  justify-content: center;
}

@mixin columnTemplates ($columns, $brake-point) {
  @media screen and (min-width: $brake-point) {
    grid-template-columns: repeat($columns, $card-width);
  }
}
