$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
$font-family: "Roboto", sans-serif;
$color-primary: #060b35;
$color-secondary: #fff;
$color-border: #ccc;
$card-height: 300px;
$card-width: 200px;
$duration: 300ms;
$card-gap: 48px;
