$card-width: 200px;
$card-border-thickness: 1px;
$card-gap: 48px;
$width-two-column: 488px;
$width-three-column: 768px;
$width-four-column: 1024px;
$padding-Y: 50px;
$padding-X: 40px;
$font-small: 10px;
$font-normal: 12px;
$font-medium: 14px;
$font-large: 16px;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-normal: 400;
$color-main: #00acdc;
$color-accent-dark: #060b35;
$color-secondary-grey: #616070;
$color-third-white: #fff;
$color-border-grey: #e5e5e5;
$color-background-card: #fff;
$duration-time: 300ms;
$timing-function: ease;
