$card-width: 200px;
$card-margin: 48px;
$card-padding: 16px;
$star-size: 16px;

$main-color: #060b35;
$second-color: #616070;
$hover-color: #00acdc;
$white-color: #fff;

$transition-duration: 0.3s;
$transition-type: ease-in-out;
