$break-point-small-screen: 488px;
$break-point-medium-screen: 768px;
$break-point-large-screen: 1024px;

$catalog-card-width: 200px;
$catalog-card-color-gray-elements: #cccccc;

$header-color-gray-elements: #0000000d;
$header-color-main-accent: #060b35;
