$card-size: 200px;
$gap: 48px;

$two-columns-size: 488px;
$three-columns-size: 768px;
$four-columns-size: 1024px;

$hover-duration: 300ms;

$header-img-size: 40px;
$star-size: 16px;

$header-height: 60px;

$catalog-padding-bottom: 72px;

$background-color: #fff;
$main-accent-color: #060b35;
$secondary-accent-color: #616070;
$blue-accent-color: #00acdc;
$border-color: #f3f3f3;
$shadow-color:#0000000d;
