.nav {
  &__list {
    display: flex;
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;
    color: $main-color;
    list-style: none;
    line-height: 60px;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__link {
    color: $main-color;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;

    cursor: pointer;
    transition: color $transition-duration $transition-type;

    &:hover {
      color: $hover-color;
    }
  }
}
