.stars {
  &__star {
    background: url(/images/star.svg) no-repeat center;

    height: $star-size;
    width: $star-size;

    &:not(:last-child) {
      margin-right: 4px;
    }
  }

  @for $i from 1 through 5 {
    &--#{$i} &__star:nth-child(-n + #{$i}) {
      background-image: url(/images/star-active.svg);
    }
  }
}
