.catalog {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-gap: $gap;
  padding-bottom: $catalog-padding-bottom;

  @include grid($column-2, $two-columns-size, $card-size);
  @include grid($column-3, $three-columns-size, $card-size);
  @include grid($column-4, $four-columns-size, $card-size);

  &__card {
    width: $card-size;

    transition: color $hover-duration, transform $hover-duration;

    &:hover {
      transform: scale(1.2);
    }
  }
}
